<ul class="breadcrumbs medium-12 columns">
  <% path.forEach(function(pathItem, index) { %>
    <% if((path.length - 1) === index) { %>
      <li>
        <span id="rootFolder" data-id="<%= pathItem.id %>" class="path-item">
          <strong><%= pathItem.name %></strong>
        </span>
      </li>
    <% } else { %>
      <li>
        <a href="<%= domain %>/dashboard/<%= pathItem.id %>">
            <%= pathItem.name %>
        </a>
      </li>
    <% } %>
    <% if (!(path.length - 1  === index)) { %>
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    <% } %>
  <% }); %>
</ul>
